/*
 * Skin: custom
 * -----------
 */
/* skin-custom navbar */
.skin-custom {
    .main-header{
        .navbar{
            background-color: #2b3643;
            .nav{
                li{
                    a{
                        color: rgb(164,174,186);
                        &:hover,&:active,&:focus{
                            background-color: #3f4f62;
                            color: white;
                        }
                    }
                }
                .open {
                    a{
                        background-color: #3f4f62;
                        color: white;
                        &:hover,&:focus{
                            background-color: #3f4f62;
                            color: white;
                        }
                    }
                }
                .active{
                    a{
                        background-color: #3f4f62;
                        color: white;  
                    }
                }
            }
            .sidebar-toggle{
                cursor: pointer;
                color: rgb(164,174,186);
                &:hover{
                    color: white;
                    background: #3f4f62;
                }
            }
            .navbar-nav {
                li{
                    a{
                        cursor: pointer;
                    }
                }
            }
        }
        .logo{
            background-color: #2b3643;
            color: rgb(164,174,186);
            border-bottom: 0 solid transparent;
            &:hover{
                background-color: #3f4f62;
                color:white;
            }
        }
    }
    .sidebar-menu{
        li{
            &.active{
                a{
                    background: rgb(44,53,66);
                    border-left-color: #ffffff;
                }
            }
            a{
                border-bottom:1px solid #3d4957;
                border-left: 3px solid transparent;
                background-color: rgb(54,65,80);
                &:hover,&.active,&:active{
                    background: rgb(44,53,66);
                    border-left-color: #ffffff;
                }
            }
            .treeview-menu{
                margin: 0 1px;
                background-color: rgb(54,65,80);
                padding: 5px 0;
                li{
                    a{
                        border-left: 3px solid transparent;
                        border-bottom:none;
                        background-color: rgb(54,65,80);
                        &:hover,&.active{
                            background-color: rgb(62,75,92);
                        }
                    }
                }
            }
        }
    }
    .sidebar{
        a{
            color: #b8c7ce;
            text-decoration: none;
        }
    }
}

@media (max-width: 767px) {
    .skin-custom .main-header > .logo {
        display: none;
    }
}
.skin-custom .main-header li.user-header {
  background-color: #222;
}
.skin-custom .content-header {
  background: transparent;
  box-shadow: none;
}
.skin-custom .wrapper,
.skin-custom .main-sidebar,
.skin-custom .left-side {
  background-color: rgb(54,65,80);
}
.skin-custom .user-panel > .info,
.skin-custom .user-panel > .info > a {
  color: #fff;
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
//Component colors

$component-colors: (
	"white":	(base:#ffffff, font: #666),
	"default":	(base:#e1e5ec, font: #666),
	"dark":	(base:#2f353b, font: #FFFFFF),
	"blue":	(base:#3598dc, font: #FFFFFF),
	"blue-madison":	(base:#578ebe, font: #FFFFFF),
	"blue-chambray":	(base:#2C3E50, font: #FFFFFF),
	"blue-ebonyclay":	(base:#22313F, font: #FFFFFF),
	"blue-hoki":	(base:#67809F, font: #FFFFFF),
	"blue-steel":	(base:#4B77BE, font: #FFFFFF),
	"blue-soft":	(base:#4c87b9, font: #FFFFFF),
	"blue-dark":	(base:#5e738b, font: #FFFFFF),
	"blue-sharp":	(base:#5C9BD1, font: #FFFFFF),
	"blue-oleo":	(base:#94A0B2, font: #FFFFFF),
	"green":	(base:#32c5d2, font: #FFFFFF),
	"green-meadow":	(base:#1BBC9B, font: #FFFFFF),
	"green-seagreen":	(base:#1BA39C, font: #FFFFFF),
	"green-turquoise":	(base:#36D7B7, font: #FFFFFF),
	"green-haze":	(base:#44b6ae, font: #FFFFFF),
	"green-jungle":	(base:#26C281, font: #FFFFFF),
	"green-soft":	(base:#3faba4, font: #FFFFFF),
	"green-dark":	(base:#4DB3A2, font: #FFFFFF),
	"green-sharp":	(base:#2ab4c0, font: #FFFFFF),
	"green-steel":	(base:#29b4b6, font: #FFFFFF),
	"grey":	(base:#E5E5E5, font: #333333),
	"grey-steel":	(base:#e9edef, font: #80898e),
	"grey-cararra":	(base:#fafafa, font: #333333),
	"grey-gallery":	(base:#555555, font: #ffffff),
	"grey-cascade":	(base:#95A5A6, font: #FFFFFF),
	"grey-silver":	(base:#BFBFBF, font: #FAFCFB),
	"grey-salsa":	(base:#ACB5C3, font: #FAFCFB),
	"grey-salt":	(base:#bfcad1, font: #FAFCFB),
	"grey-mint":	(base:#525e64, font: #FFFFFF),
	"red":	(base:#e7505a, font: #ffffff),
	"red-pink":	(base:#E08283, font: #ffffff),
	"red-sunglo":	(base:#E26A6A, font: #ffffff),
	"red-intense":	(base:#e35b5a, font: #ffffff),
	"red-thunderbird":	(base:#D91E18, font: #ffffff),
	"red-flamingo":	(base:#EF4836, font: #ffffff),
	"red-soft":	(base:#d05454, font: #ffffff),
	"red-haze":	(base:#f36a5a, font: #ffffff),
	"red-mint":	(base:#e43a45, font: #ffffff),
	"yellow":	(base:#c49f47, font: #ffffff),
	"yellow-gold":	(base:#E87E04, font: #ffffff),
	"yellow-casablanca":	(base:#f2784b, font: #ffffff),
	"yellow-crusta":	(base:#f3c200, font: #ffffff),
	"yellow-lemon":	(base:#F7CA18, font: #ffffff),
	"yellow-saffron":	(base:#F4D03F, font: #ffffff),
	"yellow-soft":	(base:#c8d046, font: #ffffff),
	"yellow-haze":	(base:#c5bf66, font: #ffffff),
	"yellow-mint":	(base:#c5b96b, font: #ffffff),
	"purple":	(base:#8E44AD, font: #ffffff),
	"purple-plum":	(base:#8775a7, font: #ffffff),
	"purple-medium":	(base:#BF55EC, font: #ffffff),
	"purple-studio":	(base:#8E44AD, font: #ffffff),
	"purple-wisteria":	(base:#9B59B6, font: #ffffff),
	"purple-seance":	(base:#9A12B3, font: #ffffff),
	"purple-intense":	(base:#8775a7, font: #ffffff),
	"purple-sharp":	(base:#796799, font: #ffffff),
	"purple-soft":	(base:#8877a9, font: #ffffff)
);

/***
Custom color buttons 
***/

@each $name, $colors in $component-colors {
    .btn.#{$name}:not(.btn-outline) {
        @include button-variant(map-get($colors, font), map-get($colors, base), map-get($colors, base));
    }

    .btn.btn-outline.#{$name} {  
        border-color: map-get($colors, base);
        color: map-get($colors, base);
        background: none;

        &:hover,
        &:active,  
        &:active:hover,
        &:active:focus,     
        &:focus,
        &.active {
            border-color: map-get($colors, base);
            color: map-get($colors, font);
            background-color: map-get($colors, base);
        }
    }
  
    .btn.#{$name}-stripe { 
        border-left: 4px solid map-get($colors, base) !important;
    }  


    .btn.#{$name}.btn-no-border:not(.active) {
        border-color: transparent;
    }
}

