.react-autosuggest__container {
    height: 28px;
    min-width: 240px;
    position: relative;
    display:block;
    .react-autosuggest__suggestions-container {
        border: none !important;
    }
    input {
        width: 100%;
        border: solid 1px #efefef;
        border-radius: 3px;
        color: #262626;
        font-size: 14px;
        font-weight: 200;
        outline: none;
        z-index: 2;

        height: 34px;
        padding: 6px 12px;
    }
    .react-autosuggest__suggestions-container {
        list-style:none;
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        background-color: #fff;
        z-index: 2;
        .react-autosuggest__suggestion--focused {
            background-color: rgba(158,158,158, .3);
            transition:background-color .3s;
        }
        ul{
            list-style:none;
            padding:0;
            margin:0;
        }
        .search-item {
            cursor: pointer;
            margin:0;
            padding: 10px 15px;
            height: 48px;
            img {
                width: 32px;
                height: 32px;
                float: left;
                border-radius:50%;
            }
            .item-name {
                font-size: 12px;
                font-weight: 600;
                display: block;
                margin-left: 43px;
                max-width: 300px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .item-desc {
                color: #999;
                font-size: 11px;
                display: block;
                margin-left: 43px;
                max-width: 300px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}
