body {
  background: #fafafa;
  font-family: Open Sans,sans-serif !important;
  color: #333;
}

html, body {
  height: 100%;
}

.content-wrapper {
  background-color: #ecf0f5;
}

.fluid-container {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.main {
  padding-top: 80px;
}

.footer {
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.col {
  padding-right:5px;
  padding-left:5px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

// New version
//////////////

// panel ...
.no-padding {
  padding: 0;
}

.no-top-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.panel-video {
  position:absolute;
  height:100%;
  width:100%;
  overflow: hidden;
}

video {
    width: 100% !important;
    height: auto !important;
}

.panel-photos-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}
.panel-photos-big {
  object-fit: cover;
  max-height: 300px;
  width: 100%;
}
.panel-photos-small {
  object-fit: cover;
  max-height: 100px;
  padding: 2px 2px 2px 0;
}
.panel-photos div {
  width: 12.5%;
  height: 0;
  padding-bottom: 12.5%;
  overflow: hidden;
  display: inline;
}
.panel-photos img {
  object-fit: cover;
  width: 100% !important;
  height: auto !important;
  display: inline;
}

// panel end...



.label {
  font-size: 100% !important;
  a {
    color: #fff;
    cursor: pointer;
  }
  a:visited {
    color: #fff;
  }
  i {
    cursor: pointer;
  }
}

.tag-info {
  color: #999;
  font-size: 12px;
}

.box-footer a {
  color: #333;
}

.label-margin {
  margin: 3px;
  display: inline-block;
}

.pl-form {
  margin: 10px 50px;
}

.ql-toolbar-container {
  border-bottom: 1px solid #ccc;
  padding: 5px 12px;
}

.alloyeditor-container {
  padding: 10px;
  margin: 10px;
}

//////////////


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.post-panel {

  .post-heading {
      padding:0;
      background-color: #fdfdfd;
  }

  .post-heading>a {
      display: block;
      padding: 0 10px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap
  }

  .post-heading>a:focus,.post-heading>a:hover {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
  }

}

.post-caption {
    padding: 5px;
    .post-caption-btn {
      // margin-right: 2px;
    }
}

.post-image {
    position: relative;
    /*padding: 2px;*/
    img {
      width: 100% !important;
      display: block !important;
    }
}

.image-modal {
  max-width: 100%;
}

.image-modal-direction{
  position:absolute;
  top:50%;
  cursor:pointer;
  transform:translateY(-50%);
  background:#fff;
  border-radius:50%;
  width:40px;
  height:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  i{
    color:black;
    font-size:20px;
  }
}

.image-modal-left{
  @extend .image-modal-direction;
  left:20px;
}
.image-modal-right{
  @extend .image-modal-direction;
  right:20px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.media .media-object {
    margin: 5px 0 5px 0;
}

.media .post-user-info {
    padding: 10px 5px 10px 0;
    width: 60%;
    .block {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
    .text-muted {
    }
}

.thumb {
    display: inline-block;
}

.post-summary {
    padding: 0 0 15px 15px;
}

.user-profile {
    display: inline-block;
    color: #979898;
    vertical-align: middle;
    padding: 0 0 0 10px;
}

.user-profile h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

img.img-corona {
    -webkit-box-shadow: 0 0 0 4px rgba(221,221,221,.3);
    -moz-box-shadow: 0 0 0 4px rgba(221,221,221,.3);
    box-shadow: 0 0 0 4px rgba(221,221,221,.3);
}

.user-info {

}

.publish-btn {
    padding-top: 28px;
}

.empty {
    padding:15px;
}

.post-pagination {
    padding-right:15px;
}

.post-image .thumb-pane {
    position: absolute;
    bottom: 40px;
    width: 100%;
    opacity: 0.6;
    background-color: #000;

    .post-mark-li {
      cursor: pointer;
    }
    .liked {
      background-color: #ff442c;
      border-radius: 2px;
    }
}

.post-panel:hover .thumb-pane {
  opacity: 0.8;
}

.thumb-pane ul {
    list-style: none;
    padding: 0;
}

.thumb-pane ul li {
    float: left;
    padding: 3px;
    margin: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.thumbnail-text p {
    margin: 0;
}

.post-info {
    display: inline-block;
    color: #979898;
    vertical-align: middle;
    padding: 0 0 0 10px;
}

.post-info .glyphicon {
    font-size: 18px;
}

.load-more-btn {
  text-align: center;
  margin: auto;
  width: 350px;
  border: 1px solid #dddddd;
  padding: 20px 40px;
  cursor: pointer;
}

.tag-panel {
  .panel-heading {
    padding: 5px;
  }
  .panel-body {
    padding: 0;
  }
}

.tag-add-btn {
  padding: 5px;
  margin-left: 5px;
}

.tag-btn {
  margin: 5px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav-tabs-custom .nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.nav-tabs-custom .nav-tabs>li:first-of-type {
    margin-left: 0;
}
.nav-tabs-custom .nav-tabs>li.active {
    border-top-color: #3c8dbc;
}
.nav-tabs-custom .nav-tabs>li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.nav-tabs-custom .nav-tabs>li:first-of-type.active>a {
    border-left-color: transparent;
}
.nav-tabs-custom .nav-tabs>li.active>a {
    border-top-color: transparent;
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
}
.nav-tabs-custom .nav-tabs>li.active>a, .nav-tabs-custom .nav-tabs>li.active:hover>a {
    background-color: #fff;
    color: #444;
}
.nav-tabs-custom .nav-tabs>li>a, .nav-tabs-custom .nav-tabs>li>a:hover {
    background: transparent;
    margin: 0;
}
.nav-tabs-custom .nav-tabs>li>a {
    color: #444;
    border-radius: 0;
}
.nav-tabs-custom .nav-tabs>li:not(.active)>a {
    border: none;
}


.btn-pre{
    position:absolute;
    top:50%;
    left:20px;
    transform:translateY(-50%);
    font-size:80px;
    padding:10px;
    cursor:pointer;
    transition:color .3s;
    &:hover{
      color:#ccc;
    }
}
.btn-next{
    position:absolute;
    top:50%;
    right:20px;
    transform:translateY(-50%);
    font-size:80px;
    padding:10px;
    cursor:pointer;
    transition:color .3s;
    &:hover{
      color:#ccc;
    }
}

.inline-blk {
  display: inline-block;
}

input.form-control {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.form-control, .react-autosuggest__container input {
  font-size: 15px;
}


//userDetail
.widget-user-active{
  position:absolute;
  top:20px;
  right:20px;
  cursor:pointer;
  .btn{
    font-size:20px;
    &:hover{
      color:#ccc;
    }
  }
}
