.toy-item {
  .toy-item-img {
    float: left;
    padding-right: 5px;
    img {
      object-fit:contain;
      width: 100px;
      height: 100px;
    }
  }

  .toy-item-info {
    margin-left: 110px;
    .toy-item-name {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      font-size: 12px;
      line-height: 21px;     /* fallback */
      max-height: 42px;      /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      min-height: 42px;
    }
    .toy-item-desc {
      font-size: 12px;
      color: #999;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.sm-2-label{
  padding:7px;
  text-align: right;
}
.add-stock-preview {
  object-fit:contain;
  width: 60px;
  height: 60px;
}
@media screen and  (max-width: 768px) {
  .sm-2-label{
    text-align: left;
    padding:7px;
    padding-left: 15px;
  }
}

.table{
  thead{
    tr{
      th{
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  tbody{
    tr{
      td{
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        line-height: 16px;
        strong {
          font-size: 13px;
        }
      }
    }
  }
}