.toy-item {
  .toy-item-img {
    float: left;
    img {
      object-fit:contain;
      width: 120px;
      height: 120px;
    }
  }

  .toy-item-info {
    margin-left: 110px;
    .toy-item-name {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      font-size: 15px;
      line-height: 21px;     /* fallback */
      max-height: 42px;      /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      min-height: 42px;
    }
    .toy-item-desc {
      font-size: 14px;
      color: #999;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.sm-2-label{
  padding:7px;
  text-align: right;
}
@media screen and  (max-width: 768px) {
  .sm-2-label{
    text-align: left;
    padding:7px;
    padding-left: 15px;
  }
}

.sku-container {
  width:100%;
  .sku-title{
    background-color:white;
    height:40px;
    width:100%;
    display:flex;
    padding-left:230px;
    margin-bottom:10px;
    div{
      display:flex;
      flex:1;
      align-items:center;
      padding-left:10px;
      span{
        flex:1;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:0 5px;

      }
      .operate{
        width:130px;
        margin:0;
        text-align:center;
      }
    }
  }
  .sku-box{
    margin-bottom:15px;
    display: flex;
    background-color:white;
    box-shadow:5px 5px 5px #ddd;
    .sku-header{
      flex-basis:230px;
      display:flex;
      box-shadow:1px 1px 5px #ccc;
      .sku-img{
        flex:1;
        align-self:center;
        padding:5px;
      }
      .sku-info{
        flex:2;
        padding:5px;
        display:flex;
        flex-direction:column;
        justify-content:center;
      }
    }
    .sku-body{
      display:flex;
      flex:1;
      flex-direction:column;
      padding-left:10px;
      .sku-body-box{
        display:flex;
        flex:1;
        align-items:center;
        border-bottom:1px dashed #eee;
        padding:5px;
        &:last-child{
          border:none;
        }
        .operate{
          width:130px;
        }
        .sku-body-item{
          flex:1;
          display:flex;
          padding:0 5px;
          overflow:hidden;
          justify-content:center;
        }
      }
    }
  }
}


@media screen and  (max-width: 768px) {
  .sku-container{
    .sku-title{
      padding:0;
    }
    .sku-box{
      flex-direction:column;
      .sku-header{
        display:block;
        flex-basis:inherit;
        .sku-img{
          width:30%;
          max-height:100%;
          float: left;
          text-align:center;
          img{
            max-height:150px;
          }
        }
        .sku-info{
          width:70%;
          float: left;
        }
      }
    }
  }
}