/*
 * Skin: custom
 * -----------
 */
/* skin-custom navbar */
.skin-custom {
    .main-header{
        .navbar{
            background-color: #2b3643;
            .nav{
                li{
                    a{
                        color: rgb(164,174,186);
                        &:hover,&:active,&:focus{
                            background-color: #3f4f62;
                            color: white;
                        }
                    }
                }
                .open {
                    a{
                        background-color: #3f4f62;
                        color: white;
                        &:hover,&:focus{
                            background-color: #3f4f62;
                            color: white;
                        }
                    }
                }
                .active{
                    a{
                        background-color: #3f4f62;
                        color: white;  
                    }
                }
            }
            .sidebar-toggle{
                cursor: pointer;
                color: rgb(164,174,186);
                &:hover{
                    color: white;
                    background: #3f4f62;
                }
            }
            .navbar-nav {
                li{
                    a{
                        cursor: pointer;
                    }
                }
            }
        }
        .logo{
            background-color: #2b3643;
            color: rgb(164,174,186);
            border-bottom: 0 solid transparent;
            &:hover{
                background-color: #3f4f62;
                color:white;
            }
        }
    }
    .sidebar-menu{
        li{
            &.active{
                a{
                    background: rgb(44,53,66);
                    border-left-color: #ffffff;
                }
            }
            a{
                border-bottom:1px solid #3d4957;
                border-left: 3px solid transparent;
                background-color: rgb(54,65,80);
                &:hover,&.active,&:active{
                    background: rgb(44,53,66);
                    border-left-color: #ffffff;
                }
            }
            .treeview-menu{
                margin: 0 1px;
                background-color: rgb(54,65,80);
                padding: 5px 0;
                li{
                    a{
                        border-left: 3px solid transparent;
                        border-bottom:none;
                        background-color: rgb(54,65,80);
                        &:hover,&.active{
                            background-color: rgb(62,75,92);
                        }
                    }
                }
            }
        }
    }
    .sidebar{
        a{
            color: #b8c7ce;
            text-decoration: none;
        }
    }
}

@media (max-width: 767px) {
    .skin-custom .main-header > .logo {
        display: none;
    }
}
.skin-custom .main-header li.user-header {
  background-color: #222;
}
.skin-custom .content-header {
  background: transparent;
  box-shadow: none;
}
.skin-custom .wrapper,
.skin-custom .main-sidebar,
.skin-custom .left-side {
  background-color: rgb(54,65,80);
}
.skin-custom .user-panel > .info,
.skin-custom .user-panel > .info > a {
  color: #fff;
}


